NODE_ENV=development
HOST=0.0.0.0
PORT=3000
API_PREFIX=api
CORS_ORIGINS=
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/queuewise?schema=public"
JWT_ACCESS_SECRET="replace-with-at-least-32-random-characters"
JWT_REFRESH_SECRET="replace-with-a-different-32-character-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
